<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome we are opened</h1>
    <img src="https://www.shutterstock.com/image-photo/yes-were-open-sign-on-260nw-1495100507.jpg" alt="Error">
</body>
</html>